<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
  	<ion-back-button defaultHref="categorie"></ion-back-button>
	</ion-buttons>
	<ion-title>{{item.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="item">
	<ion-card-header>
  	<ion-img [src]="item.image"></ion-img>
  	<!--<ion-card-title>{{item.title}}</ion-card-title>-->
	</ion-card-header>
	<ion-card-content>
 	<h3>Catégorie : {{item.title}}</h3>
    <div>
    	<p>Forme : {{item.forme}}</p>
    	<p>Couleur: {{item.couleur}}</p>
    	<p>Texte : {{item.texte}}</p>
    </div>
	</ion-card-content>
  </ion-card>
</ion-content>
